<div class="maincontainer">



  <!-- Header -->
  <header class="topbar">
    <div class="clinic-name">City Care Clinic</div>
    <div class="date-time">14 Feb 2026 | 10:30 AM</div>
    <div class="user-info">
      Admin
      <button class="logout-btn" (click)="onLogout()">Logout</button>
    </div>
  </header>

  <!-- Main Layout -->
  <div class="container">

    <!-- LEFT SIDE - Queue Table -->
    <div class="queue-section">
      <h2>Patient Queue</h2>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Token</th>
              <th>Doctor / Service</th>
              <th>Patient</th>
              <th>Time</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of patientList">
              <td>T-{{i.tokenNo}}</td>
              <td>{{i.doctorId}}</td>
              <td>{{i.patientName}}</td>
              <td>{{i.generatedAt}}</td>
              <td><span class="badge waiting">{{i.status}}</span></td>
              <td><button class="action-btn" (click)="onCall(i.id)">Call</button></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- RIGHT SIDE - Control Panel -->
    <div class="control-section">
      <div class="card highlight-card">
        <h3>Now Consulting </h3>

        <p class="token">T - {{ onCallData?.tokenNo }}</p>

        <p>{{onCallData?.patientName}}</p>
        <p>10:08 AM</p>
        <p style="color: rgb(0, 255, 34);font-weight: bold;">{{onCallData?.status}}</p>
      </div>

      <div class="col-cmd-3" style="align-items: center; text-align: center; gap: 10px;">
        <button class="btn btn-success call-done" style="gap: 10px; margin-left: 3px;" (click)=markDone()>Done</button>
        <button class="btn btn-warning call-pending" (click)=markPending()>Pending</button>
        <!-- <button class="call-next-btn">CALL NEXT TOKEN</button> -->
      </div>
      <div class="stats">
        <div class="stat-card" (click)="totalData()">
          <h4>Total</h4>
          <p>{{this.total}}</p>
        </div>
        <div class="stat-card" (click)="waitingData()">
          <h4>Waiting</h4>
          <p>{{this.pending}}</p>
        </div>
        <div class="stat-card" (click)="doneData()">
          <h4>Done</h4>
          <p>{{this.done}}</p>
        </div>
      </div>
    </div>

  </div>

</div>